<div class="card">
  <div class="card-body" style="padding: 20px;">
    <p class="title-type-service">Administracion de servicios</p>

    <table class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceItem of serviceModels">
          <th scope="row"
          id="id"
          name='id'
          >{{serviceItem.id}}</th>
          <td> {{serviceItem.name}}</td>
          <td>{{serviceItem.typeService}}</td>
          <td>{{serviceItem.description}}</td>
          <td>{{serviceItem.price}}</td>
          <td>
          <div class=".icons-div" >
            <span class="icons-edit-list-services" (click)=openDialogEdit(serviceItem)
            ><fa-icon [icon]="['fas', 'edit']"></fa-icon></span>

            <span class="icons-delete-list-services" (click)=deleteService(serviceItem.id)
            ><fa-icon [icon]="['fas', 'trash-alt']">delete</fa-icon></span>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>

