@import "cooper";

.validation {
  font-size: 1px;
  opacity: 0;
  transition: all 200ms ease-in;
  height: 0;
  margin-bottom: 0;
}

// Form invalid
.ng-invalid {

  // When mouse out
  .ng-touched {
    border-color: $color-danger;

    + .validation {
      color: $color-danger;
      opacity: 1;
      height: 11px;
      font-size: 11px;
      margin-bottom: 1rem;
    }
  }
}
