@import "../../../styles/cooper";
.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color:rgb(247, 247, 247);
}
img {
    max-width: 80%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 10rem 40px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: rgb(13, 17, 54);
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background:rgb(36, 115, 171);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}
section .about-section{
  margin: 0;
}
.about-section .counter {
  padding: 22px 20px;
  background: white;
  border-radius: 10px;
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: rgb(13, 17, 54);
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

.rate{
  color: orange;
}

.dark-color {
    color: rgb(1, 145, 145);
}
.container-xl img{
  margin: 0 45%;
  margin-top: 10px;
  width: 5%;
  height: 5%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
