@import "../../../styles/cooper";

    .nav-bar{
        margin-top: .5rem;
    }
    .nav-bar nav ul li{
        list-style: none;
        text-decoration:none;
        color: $color-accents;
    }
    .container{
        margin-top: 1rem;
    }
   .fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
    height: 30rem;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    height: 10rem;
    border-radius: 10%;
    background-color: $color-body-bg;
    border: 1px solid $color-text;
}


@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}