<div class="container-xl">
    <img src="../../../assets/concierge-bell-solid.svg" alt="logo cooper"/>
</div>
<div class="form-group">
    <label for="name">Nombre del Titular</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
  </div>
<div class="form-group">
    <label for="name">Numero de tarjeta</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
  </div>
  
  <div class="form-group">
    <label for="alterEgo">Fecha de Vencimiento</label>
    <input type="text"  class="form-control" id="alterEgo"
           [(ngModel)]="model.alterEgo" name="alterEgo">
  </div>
  
  <div class="form-group">
    <label for="power">CVV</label>
    <select class="form-control"  id="power"
            required
            [(ngModel)]="model.power" name="power">
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
  </div>