.user-icon-edit-profile {
    border-radius: 50% !important;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    color: white;
    position: absolute;
  }
  
.user-badge-icon {
    font-size: 16px;
    margin-right: .5rem;
}
.profile-button {
    background:#02b3b3;
    box-shadow: none;
    border: none
}

.labels {
    margin-right: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #0d1136;
    transition: all 200ms;
}
