@import "src/styles/cooper";

.register {
  background-color: $color-body-bg;
}

.center {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  margin-bottom: 50px;
}

.imageCooper {
  width: 200px;
  height: 300px;
}
