@import "src/styles/cooper";

.register {
  background-color: $color-body-bg;
}

.title-type-service{
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-size: 3rem;
}

.imageCooper {
  width: 200px;
  height: 300px;
}
